.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #f4f4f4;
  height: 968px;
  position: relative;
  overflow: hidden;
}
.status-bar {
  width: 375px;
  height: 52px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.time {
  width: 35.75%;
  height: 54px;
  position: absolute;
  right: 64.25%;
  left: 0%;
  top: 50%;
  translate: 0 -50%;
}
.time2 {
  color: var(--primary-gray700, #333333);
  text-align: center;
  font-family: "SfProDisplay-Semibold", sans-serif;
  font-size: 17px;
  line-height: 22px;
  font-weight: 600;
  position: absolute;
  right: 37.68%;
  left: 36.96%;
  width: 25.36%;
  bottom: 25.3%;
  top: 33.96%;
  height: 40.74%;
}
.levels {
  width: 35.75%;
  height: 54px;
  position: absolute;
  right: 0%;
  left: 64.25%;
  top: 50%;
  translate: 0 -50%;
}
.battery {
  height: 24.07%;
  position: absolute;
  left: calc(50% - -10.97px);
  bottom: 33.33%;
  top: 42.59%;
  overflow: visible;
}
.wifi {
  width: 17.14px;
  height: 22.83%;
  position: absolute;
  left: calc(50% - 13.33px);
  bottom: 33.4%;
  top: 43.77%;
  overflow: visible;
}
.cellular-connection {
  width: 19.2px;
  height: 22.64%;
  position: absolute;
  left: calc(50% - 40.03px);
  bottom: 33.77%;
  top: 43.58%;
  overflow: visible;
}
.area {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 375px;
  position: absolute;
  left: 0px;
  top: 202px;
}
.btn {
  background: linear-gradient(to left, #5a48c0, #5a48c0),
    linear-gradient(to left, #ffffff, #ffffff);
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.txt {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icon-regular-light-game {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.game {
  width: 83.33%;
  height: 83.33%;
  position: absolute;
  right: 8.33%;
  left: 8.33%;
  bottom: 8.33%;
  top: 8.33%;
  overflow: visible;
}
.div2 {
  color: var(--primary-white, #ffffff);
  text-align: left;
  font-family: var(
    --pretendard-h1-b-font-family,
    "Pretendard-Bold",
    sans-serif
  );
  font-size: var(--pretendard-h1-b-font-size, 16px);
  line-height: var(--pretendard-h1-b-line-height, 24px);
  letter-spacing: var(--pretendard-h1-b-letter-spacing, -0.3px);
  font-weight: var(--pretendard-h1-b-font-weight, 700);
  position: relative;
  flex: 1;
}
.frame-1 {
  background: #1c0f62;
  border-radius: 8px;
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 24px;
  position: relative;
}
._106 {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --pretendard-h2-b-font-family,
    "Pretendard-Bold",
    sans-serif
  );
  font-size: var(--pretendard-h2-b-font-size, 14px);
  line-height: var(--pretendard-h2-b-line-height, 22px);
  letter-spacing: var(--pretendard-h2-b-letter-spacing, -0.3px);
  font-weight: var(--pretendard-h2-b-font-weight, 700);
  position: relative;
}
.header-nomal {
  padding: 15px 16px 15px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  width: 375px;
  height: 56px;
  position: absolute;
  left: 0px;
  top: 52px;
}
.appicon-kakaobank {
  border-radius: 4px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
}
.image-1 {
  width: 100%;
  height: 24px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1;
}
.div3 {
  color: var(--primary-gray700, #333333);
  text-align: center;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.3px;
  font-weight: 700;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-regular-light-search {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.search {
  width: 78.18%;
  height: 80.09%;
  position: absolute;
  right: 10.24%;
  left: 11.58%;
  bottom: 8.33%;
  top: 11.58%;
  overflow: visible;
}
.txt2 {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 375px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 108px;
}
.div4 {
  color: var(--primary-gray600, #666666);
  text-align: left;
  font-family: var(
    --pretendard-h1-r-font-family,
    "Pretendard-Regular",
    sans-serif
  );
  font-size: var(--pretendard-h1-r-font-size, 16px);
  line-height: var(--pretendard-h1-r-line-height, 24px);
  letter-spacing: var(--pretendard-h1-r-letter-spacing, -0.3px);
  font-weight: var(--pretendard-h1-r-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-end;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._2-562-784 {
  color: #1c0f62;
  text-align: left;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: -0.3px;
  font-weight: 700;
  position: relative;
}
.div5 {
  color: var(--primary-gray700, #333333);
  text-align: left;
  font-family: var(
    --pretendard-h0-b-font-family,
    "Pretendard-Bold",
    sans-serif
  );
  font-size: var(--pretendard-h0-b-font-size, 18px);
  line-height: var(--pretendard-h0-b-line-height, 26px);
  letter-spacing: var(--pretendard-h0-b-letter-spacing, -0.3px);
  font-weight: var(--pretendard-h0-b-font-weight, 700);
  position: relative;
}
.footer {
  padding: 16px 20px 16px 20px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 375px;
  position: absolute;
  left: 0px;
  top: 892px;
}
.frame-1171278025 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.btn2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.pincrux {
  color: var(--333, #333333);
  text-align: right;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.3px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div6 {
  color: var(--333, #333333);
  text-align: right;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.3px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.text-1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
  justify-content: center;
  flex: 1;
  position: relative;
}
.copyright-pincrux-all-rights-reserved {
  color: var(--999, #999999);
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.3px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 375px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 274px;
}
.list2 {
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.tab-menu {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2043685652 {
  background: #e9e9e9;
  border-radius: 8px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2043685653 {
  background: #ffffff;
  border-radius: 8px;
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.txt3 {
  padding: 0px 40px 0px 40px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.bage {
  background: #ef3e41;
  border-radius: 500px;
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  position: relative;
  aspect-ratio: 1;
}
.n {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: -0.3px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
}
.div7 {
  color: #5a48bf;
  text-align: left;
  font-family: var(
    --pretendard-h0-b-font-family,
    "Pretendard-Bold",
    sans-serif
  );
  font-size: var(--pretendard-h0-b-font-size, 18px);
  line-height: var(--pretendard-h0-b-line-height, 26px);
  letter-spacing: var(--pretendard-h0-b-letter-spacing, -0.3px);
  font-weight: var(--pretendard-h0-b-font-weight, 700);
  position: relative;
}
.frame-2043685654 {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.txt4 {
  padding: 0px 40px 0px 40px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.div8 {
  color: #999999;
  text-align: left;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.3px;
  font-weight: 500;
  position: relative;
}
.lsit-box {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.list-item {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 311px;
  position: relative;
}
.icon {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  position: relative;
}
.mission-icon {
  background: linear-gradient(to left, #f4f4f4, #f4f4f4);
  border-radius: 16px;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1;
}
.ing-bg {
  position: absolute;
  inset: 0;
}
.rectangle-8 {
  background: #c8bfff;
  border-radius: 8px;
  border-style: solid;
  border-color: var(--primary-white, #ffffff);
  border-width: 1.4px;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 38px;
  top: 38px;
  aspect-ratio: 1;
}
.icon-regular-light-game2 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 43px;
  top: 43px;
  aspect-ratio: 1;
}
.game2 {
  width: 83.33%;
  height: 83.33%;
  position: absolute;
  right: 8.33%;
  left: 8.33%;
  bottom: 8.33%;
  top: 8.33%;
  overflow: visible;
}
.txt5 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
}
.frame-2043685703 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.div9 {
  color: var(--primary-gray700, #333333);
  text-align: left;
  font-family: var(
    --pretendard-h1-b-font-family,
    "Pretendard-Bold",
    sans-serif
  );
  font-size: var(--pretendard-h1-b-font-size, 16px);
  line-height: var(--pretendard-h1-b-line-height, 24px);
  letter-spacing: var(--pretendard-h1-b-letter-spacing, -0.3px);
  font-weight: var(--pretendard-h1-b-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.div10 {
  color: var(--primary-gray700, #333333);
  text-align: left;
  font-family: var(
    --pretendard-h2-r-font-family,
    "Pretendard-Regular",
    sans-serif
  );
  font-size: var(--pretendard-h2-r-font-size, 14px);
  line-height: var(--pretendard-h2-r-line-height, 22px);
  letter-spacing: var(--pretendard-h2-r-letter-spacing, -0.3px);
  font-weight: var(--pretendard-h2-r-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.reward {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.div11 {
  color: var(--primary-gray600, #666666);
  text-align: left;
  font-family: var(
    --pretendard-h2-b-font-family,
    "Pretendard-Bold",
    sans-serif
  );
  font-size: var(--pretendard-h2-b-font-size, 14px);
  line-height: var(--pretendard-h2-b-line-height, 22px);
  letter-spacing: var(--pretendard-h2-b-letter-spacing, -0.3px);
  font-weight: var(--pretendard-h2-b-font-weight, 700);
  position: relative;
}
._2-562 {
  color: #1c0f62;
  text-align: left;
  font-family: var(
    --pretendard-h2-b-font-family,
    "Pretendard-Bold",
    sans-serif
  );
  font-size: var(--pretendard-h2-b-font-size, 14px);
  line-height: var(--pretendard-h2-b-line-height, 22px);
  letter-spacing: var(--pretendard-h2-b-letter-spacing, -0.3px);
  font-weight: var(--pretendard-h2-b-font-weight, 700);
  position: relative;
}
.list-item2 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.game3 {
  width: 83.33%;
  height: 83.33%;
  position: absolute;
  right: 8.33%;
  left: 8.33%;
  bottom: 8.33%;
  top: 8.33%;
  overflow: visible;
}
.bux-craze {
  color: var(--primary-gray700, #333333);
  text-align: left;
  font-family: var(
    --pretendard-h1-b-font-family,
    "Pretendard-Bold",
    sans-serif
  );
  font-size: var(--pretendard-h1-b-font-size, 16px);
  line-height: var(--pretendard-h1-b-line-height, 24px);
  letter-spacing: var(--pretendard-h1-b-letter-spacing, -0.3px);
  font-weight: var(--pretendard-h1-b-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.mission-icon2 {
  border-radius: 16px;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1;
}
